$blue: #00aaaa;
$green: #00aa00;
$orange: #ff7700;

div a{
  color: $blue;
}
div .logo {
  color: $green;
  font-weight: bold;
}

.main-nav {
  color: $green;

  a {
    color: $orange;
    text-decoration: underline;
    border-bottom: dotted #000;
    }
  .logo {
    color: $blue;
    font-weight: bold;
    text-decoration: underline;
    border-bottom:  none #000;
}
}
