$blue: #00aaaa;
$green: #00aa00;
$orange: #ff7700;

div a{
  color: $blue;
}
div .logo {
  color: $green;
  font-weight: bold;
}

.main-nav {
  color: $green;

  div .logo {
    color: $green;
    font-weight: bold;
    text-decoration: none;
    border-bottom:  none #000;
  }
}
.main-nav{

  .logo{
    color: $blue;
    text-decoration: underline;
    border-bottom: dotted #000;
    }
    div .logo{
      color: $green;
      text-decoration: none;

    }
    a {
      color: $orange;
      text-decoration: underline;
      border-bottom: dotted #000;
      }

}
.other {
  text-decoration: none;
}
